name: Generate sounds.json

on:
  workflow_dispatch:
  pull_request_target:
    types: [opened, synchronize, reopened, ready_for_review]
  merge_group:
    branches: [main, development]

jobs:
  generate-sounds:
    if: '!github.event.pull_request.draft'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout the Repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Generate sounds.json
        run: |
          chmod +x ./utils/process_sounds.sh
          ./utils/process_sounds.sh ./src/main/resources/assets/wynnvp/sounds.json

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_user_name: 'VoWBot'
          commit_user_email: 'admin@voicesofwynn.com'
          commit_message: 'ci: generate sounds.json'